<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/home"> Mean Stack Blog </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>

    </ul>
      <ul class="navbar-nav  my-2 my-lg-0">
    <li>
      <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"routerLink="/dashboard">Dashboard </a>
    </li>
    <li>
      <a class="nav-link" href="#contact">Profile </a>
    </li>
    <li>
      <a class="nav-link" href="#contact">Blog </a>
    </li>
    <li>
      <a class="nav-link" href="#contact">Login </a>
    </li>
    <li>
      <a class="nav-link" href="#contact">Logout </a>
    </li>
    <li>
      <a class="nav-link" href="#contact">Register</a>
    </li>
  </ul>

  </div>
</nav>
